<launch>
  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_bot)/rviz/new_hmi.rviz" />

  <!-- LASER CONFIG -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
	      name="laser_filter">
	    <rosparam command="load" file="$(find navigation_bot)/config/my_laser_config.yaml" />
	    <remap from="scan" to="slamware_ros_sdk_server_node/scan"/>
  </node>
  
  <!-- Map server -->
  <arg name="map_file" default="$(find navigation_bot)/map/mymap2.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navigation_bot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation_bot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation_bot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation_bot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation_bot)/config/move_base_params.yaml" command="load" />


    <rosparam file="$(find navigation_bot)/config/dwa_local_planner_params.yaml" command="load" /> 
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    
    
    <param name="controller_frequency" value="10"/>
    
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="/slamware_ros_sdk_server_node/odom"/>
    <remap from="scan" to="/scan_filtered"/>


    
    
  </node>


    <!-- <node pkg="amcl" type="amcl" name="amcl">
      <param name="odom_frame_id" value="odom"/>
      <param name="odom_model_type" value="diff-corrected"/>
      <param name="base_frame_id" value="base_link"/>
      <param name="global_frame_id" value="map"/>
      
    </node> -->
    
  

  
  
</launch>
